.yes-container {
  display: flex;
  flex-flow: column wrap;
  padding: 64px 0;
  justify-content: center;
  align-items: center;
}

.yay {
  font-weight: 700;
  font-size: 1rem;
}

.video {
  padding: 64px 0;
}
